// Font
@import 'https://fonts.googleapis.com/css?family=Libre+Franklin:500,900';
// Colors
$orange: #FF851B;
$darkorange: darken($orange, 5%);
$black: rgb(36, 36, 36);
$lightgrey: lighten($black, 70%);

$contain: 90%;

html, body {
    box-sizing: border-box;
    font-family: 'Libre Franklin', Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

a {
    color: $orange;
    text-decoration: none;
    &:hover {
        color: $darkorange;
    }
}
p {
    line-height: 1.7;
    letter-spacing: .45px;
}

nav {
    display: flex;
    height: 80px;
    border-bottom: 1px solid $lightgrey;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: white;
    a.nav-logo {
        font-weight: 900;
        letter-spacing: -1px;
        font-size: 24px;
    }
}

#main-content {
    margin-top: 120px;
    min-height: 40vh;
}
#extraStuff {
    margin: 80px 0 80px 0;
}

h1 {
    font-weight: 900;
    font-size:1.8rem;
    color: $black;
    &#currentBrief {
        min-height: 250px;
        margin-bottom: 2rem;
        display: block;
    }
    .helper {
        color: $lightgrey;
    }
    @media (min-width: 600px) {
        font-size: 2.4em;
    }
}

.contain {
    margin-left: auto;
    margin-right: auto;
    max-width: $contain;
    width: 100%;
    @media (min-width: 600px) {
        max-width: 600px;
    }
}

button {
    padding: 20px;
    background: $orange;
    border-radius: 5px;
    outline: none;
    color: white;
    border: 0;
    display: block;
    width: 100%;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    &:hover {
        cursor: pointer;
        background-color: $darkorange;
    }
}
